In [10]:
import pandas as pd
import boto3
import json
import configparser

import boto3

## Reading environment variables

In [11]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [12]:
KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION = config.get('AWS', 'REGION')

# REDSHIFT
CLUSTER_TYPE  = config.get("CLUSTER","CLUSTER_TYPE")
NUM_NODES = config.get("CLUSTER","NUM_NODES")
NODE_TYPE = config.get("CLUSTER","NODE_TYPE")

CLUSTER_IDENTIFIER = config.get("CLUSTER", "CLUSTER_IDENTIFIER")
DB_NAME = config.get("CLUSTER","DB_NAME")
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")

#IAM
IAM_ROLE_NAME= config.get("IAM_ROLE", "IAM_ROLE_NAME")

# S3
LOG_DATA = config.get('S3', 'LOG_DATA')
LOG_JSONPATH = config.get('S3', 'LOG_JSONPATH')
SONG_DATA = config.get('S3', 'SONG_DATA')

(DB_USER, DB_PASSWORD, DB_NAME)

pd.DataFrame({ 
    "Param":["CLUSTER_TYPE", "NUM_NODES", "NODE_TYPE", "CLUSTER_IDENTIFIER", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT", "IAM_ROLE_NAME", 'LOG_DATA','LOG_JSONPATH','SONG_DATA', 'REGION'], 
    "Value":[CLUSTER_TYPE, NUM_NODES, NODE_TYPE, CLUSTER_IDENTIFIER, DB_NAME, DB_USER, DB_PASSWORD,DB_PORT, IAM_ROLE_NAME, LOG_DATA, LOG_JSONPATH, SONG_DATA, REGION]
})

                 Param                                   Value
0         CLUSTER_TYPE                              multi-node
1            NUM_NODES                                       4
2            NODE_TYPE                               dc2.large
3   CLUSTER_IDENTIFIER                            cluster-igrc
4              DB_NAME                                     dwh
5              DB_USER                                 dwhuser
6          DB_PASSWORD                Passw0rdPassw0rdPassw0rd
7              DB_PORT                                    5439
8        IAM_ROLE_NAME                   redshift_project_role
9             LOG_DATA            's3://udacity-dend/log_data'
10        LOG_JSONPATH  's3://udacity-dend/log_json_path.json'
11           SONG_DATA           's3://udacity-dend/song_data'
12              REGION                               us-east-1

## 2. Create clients and resources to access AWS services

In [13]:
ec2 = boto3.resource('ec2', region_name=REGION, aws_access_key_id=KEY, aws_secret_access_key=SECRET)

s3 = boto3.resource('s3', region_name=REGION, aws_access_key_id=KEY, aws_secret_access_key=SECRET)

iam = boto3.client('iam', region_name=REGION, aws_access_key_id=KEY, aws_secret_access_key=SECRET)

redshift = boto3.client('redshift', region_name=REGION, aws_access_key_id=KEY, aws_secret_access_key=SECRET)

### 2.1 Create IAM role to allow Redshift read data from S3

In [14]:
try:
    dwhRole = iam.create_role(    
        Path='/',
        RoleName=IAM_ROLE_NAME,
        Description='Allow Redshift cluster to call AWS services',
        AssumeRolePolicyDocument=json.dumps({
            "Version": "2012-10-17",
            "Statement": [ {
                "Principal":  { "Service": "redshift.amazonaws.com" },
                "Effect": "Allow",  
                "Action": ["sts:AssumeRole"]
            }]
        }
    ));
    
    # Attaching Policy
    iam.attach_role_policy(RoleName=IAM_ROLE_NAME, PolicyArn='arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess')['ResponseMetadata']['HTTPStatusCode']
    
    # Get the IAM role ARN
    roleArn = iam.get_role(RoleName=IAM_ROLE_NAME)['Role']['Arn']

    print('Created IAM role with ARN: {}'.format(roleArn))

except Exception as e:
    print(e)

Created IAM role with ARN: arn:aws:iam::271252374978:role/redshift_project_role

### 2.2 Create Redshift Cluster

In [15]:
try:
    response = redshift.create_cluster(        
        # HW Params
        ClusterType=CLUSTER_TYPE, # multi_node
        NodeType=NODE_TYPE, # dc2.large
        NumberOfNodes=int(NUM_NODES),# 4

        # Credentials and identifiers
        DBName=DB_NAME,
        ClusterIdentifier=CLUSTER_IDENTIFIER,
        MasterUsername=DB_USER,
        MasterUserPassword=DB_PASSWORD,
        
        # IAM role to access S3
        IamRoles=[roleArn]
    )
except Exception as e:
    print(e)

In [17]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "NumberOfNodes"]
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

                 Key         Value
0  ClusterIdentifier  cluster-igrc
1  NodeType           dc2.large
2  ClusterStatus      available
3  NumberOfNodes      4

In [18]:
# Run only when cluster is available
CLUSTER_ENDPOINT = myClusterProps['Endpoint']['Address']
ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

In [19]:
CLUSTER_ENDPOINT

'cluster-igrc.culiqjxmyxnd.us-east-1.redshift.amazonaws.com'

## Access the cluster

In [20]:
%load_ext sql

In [21]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, CLUSTER_ENDPOINT, DB_PORT, DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

## Analyzing results

In [22]:
%%sql
SELECT a.artist_name, so.title, count(*) as times_listened
from songplay sp
join songs so on so.song_id=sp.song_id 
join artists a on a.artist_id=sp.artist_id
group by a.artist_name, so.title
order by times_listened desc
limit 10

 * postgresql://dwhuser:***@cluster-igrc.culiqjxmyxnd.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', "You're The One", 37),
 ('Carleen Anderson', 'Secrets', 17),
 ('Frozen Plasma', 'Home', 13),
 ('Gemma Hayes', 'Home', 13),
 ('Eli Young Band', 'Home', 13),
 ('Working For A Nuclear Free City', 'Home', 13),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('Ron Carter', "I CAN'T GET STARTED", 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('Rivera Rotation', 'Float On', 7)]

**Cluster Usage**

In [24]:
%%sql
select slice, sum(num_values) as rows
from svv_diskusage
where col=0
group by slice 
limit 15

 * postgresql://dwhuser:***@cluster-igrc.culiqjxmyxnd.us-east-1.redshift.amazonaws.com:5439/dwh
8 rows affected.

[(6, 13813),
 (1, 5743),
 (5, 5833),
 (2, 13767),
 (3, 5726),
 (4, 13794),
 (7, 5687),
 (0, 13736)]

In [25]:
%%sql
select slice, sum(num_values) as rows, name
from svv_diskusage
where col=0 
group by slice, name 
order by slice
limit 200

 * postgresql://dwhuser:***@cluster-igrc.culiqjxmyxnd.us-east-1.redshift.amazonaws.com:5439/dwh
60 rows affected.

[(0, 133, 'songplay                                                                                                                        '),
 (0, 8056, 'staging_events                                                                                                                  '),
 (0, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (0, 13, 'users                                                                                                                           '),
 (0, 102, 'time                                                                                                                            '),
 (0, 1232, 'artists                                                                                                                         '),
 (0, 1838, 'songs                                                                                                                           '),
 (0, 1862, 'staging_songs                                                                                                                   '),
 (1, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (1, 1298, 'artists                                                                                                                         '),
 (1, 134, 'songplay                                                                                                                        '),
 (1, 101, 'time                                                                                                                            '),
 (1, 1862, 'staging_songs                                                                                                                   '),
 (1, 1835, 'songs                                                                                                                           '),
 (1, 13, 'users                                                                                                                           '),
 (2, 1231, 'artists                                                                                                                         '),
 (2, 136, 'songplay                                                                                                                        '),
 (2, 13, 'users                                                                                                                           '),
 (2, 1862, 'staging_songs                                                                                                                   '),
 (2, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (2, 8056, 'staging_events                                                                                                                  '),
 (2, 102, 'time                                                                                                                            '),
 (2, 1867, 'songs                                                                                                                           '),
 (3, 101, 'time                                                                                                                            '),
 (3, 13, 'users                                                                                                                           '),
 (3, 1862, 'songs                                                                                                                           '),
 (3, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (3, 176, 'songplay                                                                                                                        '),
 (3, 1212, 'artists                                                                                                                         '),
 (3, 1862, 'staging_songs                                                                                                                   '),
 (4, 13, 'users                                                                                                                           '),
 (4, 8056, 'staging_events                                                                                                                  '),
 (4, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (4, 102, 'time                                                                                                                            '),
 (4, 1820, 'songs                                                                                                                           '),
 (4, 1862, 'staging_songs                                                                                                                   '),
 (4, 1302, 'artists                                                                                                                         '),
 (4, 139, 'songplay                                                                                                                        '),
 (5, 1276, 'artists                                                                                                                         '),
 (5, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (5, 160, 'songplay                                                                                                                        '),
 (5, 101, 'time                                                                                                                            '),
 (5, 1862, 'staging_songs                                                                                                                   '),
 (5, 1921, 'songs                                                                                                                           '),
 (5, 13, 'users                                                                                                                           '),
 (6, 8056, 'staging_events                                                                                                                  '),
 (6, 1228, 'artists                                                                                                                         '),
 (6, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (6, 145, 'songplay                                                                                                                        '),
 (6, 1862, 'staging_songs                                                                                                                   '),
 (6, 100, 'time                                                                                                                            '),
 (6, 13, 'users                                                                                                                           '),
 (6, 1909, 'songs                                                                                                                           '),
 (7, 1246, 'artists                                                                                                                         '),
 (7, 121, 'songplay                                                                                                                        '),
 (7, 13, 'users                                                                                                                           '),
 (7, 1862, 'staging_songs                                                                                                                   '),
 (7, 101, 'time                                                                                                                            '),
 (7, 500, 'redshift_auto_health_check_2539243                                                                                              '),
 (7, 1844, 'songs                                                                                                                           ')]

## Delete resources

In [26]:
redshift.delete_cluster(ClusterIdentifier=CLUSTER_IDENTIFIER, SkipFinalClusterSnapshot=True)
iam.detach_role_policy(RoleName=IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': '8856eda6-2423-4717-9c13-e17497878959',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '8856eda6-2423-4717-9c13-e17497878959',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Fri, 27 Mar 2020 02:50:24 GMT'},
  'RetryAttempts': 0}}